{% extends "books/base.html" %}
{% block title %}About Us - INKSPIRE{% endblock %}
{% block content %}
        <h1>About Inkspire</h1>
        <p>Welcome to Inkspire, a completely free and ad-free platform dedicated to providing a diverse collection of books in various formats such as PDF, EPUB, and more. We created Inkspire to be a clutter-free, accessible library, as we understand how frustrating it can be to navigate similar sites filled with ads and distractions.</p>

        <h2>Our Vision</h2>
        <p>We believe in making knowledge and stories accessible to everyone. With Inkspire, you’ll find a wide range of genres, authors, and titles without the hassle of intrusive ads. Our focus is on delivering a simple, clean, and enjoyable reading experience for all book lovers.</p>

        <h2>Continuous Growth</h2>
        <p>Inkspire is still in its early stages, and we're actively working to expand our collection. We’re committed to regularly adding more books and resources to better serve our community. Your support and patience as we grow mean the world to us!</p>

        <h2>Contribute to Inkspire</h2>
        <p>If you'd like to support us or contribute to our growing library, we'd love to hear from you! Whether it’s through feedback, suggesting new titles, sharing your favorite resources, or contributing to the code, every contribution helps us build a better, more robust platform.</p>


        <p>Thank you for being part of the Inkspire community. Happy reading!</p>

{% endblock %}